/* Reset some default styles */
body, html {
    margin: 0;
    padding: 0;
}

/* Apply a background color to the body */
body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

/* Center the login container vertically and horizontally */
.LoginPageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Style the inner login container */
.LoginPageInnerContainer {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

/* Style the Loyalty Reward Token header */
.header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

/* Style the subHeader */
.subHeader {
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
    color: #777;
}

/* Style the input containers */
.inputContainer {
    margin-bottom: 15px;
    width: 100%;
}

.label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

.input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

/* Style the Transfer button */
.LoginButton {
    background-color: #2e5b93;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

/* Style the Transfer button on hover */
.LoginButton:hover {
    background-color: #02050a;
}

/* Style the image container */
.ImageContianer {
    width: 100%;
    max-width: 400px; /* Limit the image width */
    text-align: center; /* Center align the image */
}

/* Style the image itself to fit its container */
.GroupImage {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
}
